@model OrderModule.model.MyOrderInfo
@{
    ViewBag.Title = "CP文化";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.isFoot = false;
}
@section styles{
    <style>
        .mui-active {
            color: #007aff !important;
        }

        .mui-control-item {
            background: transparent;
        }
    </style>
}
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
    <a class="mui-pull-right" href="/Member/Myhome">
        <img class="head-ico" src="/content/img/ico/icon_phome.png">
    </a>
    <a class="mui-pull-right" href="/Product/getCar">
        <img class="head-ico" src="/content/img/ico/icon_shopcar.png">
    </a>
    <div class="head-title">我的订单</div>

</header>

<div class="mui-content">
    <div class="pro-detail-info">
        <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
            <a class="mui-control-item mui-active" href="#all">全部订单</a>
            <a class="mui-control-item" href="#nopay">待付款</a>
            <a class="mui-control-item" href="#ok">已完成</a>
        </div>
        <div id="all" class="mui-control-content mui-active">

            @foreach (var item in Model.orderList)
            {
                var oplist = Model.opList.Where(m => m.OrderId == item.OrderId).ToList();

@*<div class="go-order-title" style="margin-top: 10px; color: #000;">订单号：@item.OrderId </div>*@
                <div style="width: 95%; margin: 0 auto;">
                    <div class="car-pros" style="padding-bottom: 5px;">

                        @{
                    
                var imgItem = Model.pimgList.Where(m => m.PartID == oplist[0].ProductID).FirstOrDefault();
                var imgPath = imgItem == null ? "/content/img/noimg.jpg" : imgItem.ImgPath;
                //var ad = op.AttrDecribe.Replace("||", "|").Split('|');
                var oqyt = oplist.Sum(m => m.Num);
                        }

                        <div class="car-pro">
                            <a href="/Order/Detail?oid=@item.OrderId">
                                <div class="car-item-name mui-pull-left" style="font-size: 12px;">订单号：@item.OrderId</div>
                                <div class="car-item-name mui-pull-right" style="font-size: 12px;">@string.Format("{0:yyyy-MM-dd hh:mm:ss}", item.OrderTime)</div>
                                <div class=" mui-clearfix"></div>
                                <div class="car-pro-img mui-pull-left" style="width: 30%;">
                                    <img class="mui-media-object mui-pull-left" style="width:100%;" src="http://www.91cpcar.com/@imgPath ">
                                </div>
                                <div class="car-pro-info mui-pull-left">
                                    <div class="car-item-cty" style="font-size: 12px;">共 @oqyt 件 </div>
                                    <div class="car-item-cty" style="font-size: 12px;">应付款：￥ @Math.Round(item.TotalPrice,2)</div>

                                    <div class="car-item-cty" style="font-size: 12px;">@item.OrderStatus </div>
                                </div>
                            </a>
                            <div class="car-pro-op mui-pull-right">
                                @if (item.PayStatus == "未支付")
                                {
                                    <a  href="/Common/PayOrder?oid=@item.OrderId"  onclick="isPayPars(@item.OrderId)" class="btn-main" style="width:80px;">继续支付</a>
                                }
                                else if (item.PayStatus == "已支付")
                                { 
                                    <a  href="#"  class="btn-ok" style="width:80px;">已支付</a><a  href="http://m.kuaidi100.com/index_all.html?type=youzhengguonei&postid=@item.SendNum&callbackurl=http://m.91cpcar.com/Member/MyOrder"  class="btn-ok" style="width:80px;">查看物流</a><a  href="/Member/comment?id=@oplist[0].ProductID.ToString()"  class="btn-ok" style="width:80px;">评论</a>                                }
                            </div>
                            <div class=" mui-clearfix"></div>
                        </div>




                    </div>
                </div>

            }









        </div>
        <div id="nopay" class="mui-control-content">
            @foreach (var item in Model.orderList.Where(m => m.PayStatus == "未支付"))
            {
                var oplist = Model.opList.Where(m => m.OrderId == item.OrderId).ToList();

@*<div class="go-order-title" style="margin-top: 10px; color: #000;">订单号：@item.OrderId </div>*@
                <div style="width: 95%; margin: 0 auto;">
                    <div class="car-pros" style="padding-bottom: 5px;">

                        @{
                    
                var imgItem = Model.pimgList.Where(m => m.PartID == oplist[0].ProductID).FirstOrDefault();
                var imgPath = imgItem == null ? "/content/img/noimg.jpg" : imgItem.ImgPath;
                //var ad = op.AttrDecribe.Replace("||", "|").Split('|');
                var oqyt = oplist.Sum(m => m.Num);
                        }

                        <div class="car-pro">
                            <a href="/Order/Detail?oid=@item.OrderId">
                                <div class="car-item-name mui-pull-left" style="font-size: 12px;">订单号：@item.OrderId</div>
                                <div class="car-item-name mui-pull-right" style="font-size: 12px;">@string.Format("{0:yyyy-MM-dd hh:mm:ss}", item.OrderTime)</div>
                                <div class=" mui-clearfix"></div>
                                <div class="car-pro-img mui-pull-left" style="width: 30%;">
                                    <img class="mui-media-object mui-pull-left" style="width:100%;" src="http://www.91cpcar.com/@imgPath ">
                                </div>
                                <div class="car-pro-info mui-pull-left">
                                    <div class="car-item-cty" style="font-size: 12px;">共 @oqyt 件 </div>
                                    <div class="car-item-cty" style="font-size: 12px;">应付款：￥ @Math.Round(item.TotalPrice,2)</div>

                                    <div class="car-item-cty" style="font-size: 12px;">@item.OrderStatus </div>
                                </div>
                            </a>
                            <div class="car-pro-op mui-pull-right">
                                @if (item.PayStatus == "未支付")
                                {
                                    <a  href="/Common/PayOrder?oid=@item.OrderId"  class="btn-main" style="width:80px;">继续支付</a>
                                }
                                else if (item.PayStatus == "已支付")
                                { 
                                    <a  href="#"  class="btn-ok" style="width:80px;">已支付</a>
                                }
                            </div>
                            <div class=" mui-clearfix"></div>
                        </div>




                    </div>
                </div>

            }
        </div>
        <div id="ok" class="mui-control-content">
            @foreach (var item in Model.orderList.Where(m => m.PayStatus == "已完成"))
            {
                var oplist = Model.opList.Where(m => m.OrderId == item.OrderId).ToList();

@*<div class="go-order-title" style="margin-top: 10px; color: #000;">订单号：@item.OrderId </div>*@
                <div style="width: 95%; margin: 0 auto;">
                    <div class="car-pros" style="padding-bottom: 5px;">

                        @{
                    
                var imgItem = Model.pimgList.Where(m => m.PartID == oplist[0].ProductID).FirstOrDefault();
                var imgPath = imgItem == null ? "/content/img/noimg.jpg" : imgItem.ImgPath;
                //var ad = op.AttrDecribe.Replace("||", "|").Split('|');
                var oqyt = oplist.Sum(m => m.Num);
                        }

                        <div class="car-pro">
                            <a href="/Order/Detail?oid=@item.OrderId">
                                <div class="car-item-name mui-pull-left" style="font-size: 12px;">订单号：@item.OrderId</div>
                                <div class="car-item-name mui-pull-right" style="font-size: 12px;">@string.Format("{0:yyyy-MM-dd hh:mm:ss}", item.OrderTime)</div>
                                <div class=" mui-clearfix"></div>
                                <div class="car-pro-img mui-pull-left" style="width: 30%;">
                                    <img class="mui-media-object mui-pull-left" style="width:100%;" src="http://www.91cpcar.com/@imgPath ">
                                </div>
                                <div class="car-pro-info mui-pull-left">
                                    <div class="car-item-cty" style="font-size: 12px;">共 @oqyt 件 </div>
                                    <div class="car-item-cty" style="font-size: 12px;">应付款：￥ @Math.Round(item.TotalPrice,2)</div>

                                    <div class="car-item-cty" style="font-size: 12px;">@item.OrderStatus </div>
                                </div>
                            </a>
                            <div class="car-pro-op mui-pull-right">                             
                                    <a  href="#"  class="btn-ok" style="width:80px;">已支付</a>
                                }                            </div>
                            <div class=" mui-clearfix"></div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>


</div>


<script>
    $(function () {
        function isPayPars(data) {
            Base.ajaxPost("/Common/PayOrder", parm, function (data) {

            })

        }

    })

</script>