 @model ProductModule.Models.ProductDetail
@{

}

<!DOCTYPE html>
<html>
<head>
    <title>Cp车品嘉年华全球商品免费送</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>   
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />  
    <meta name="keywords" content="诚配,诚配改装,汽车改装,改装件,汽车配件,海外配件,进口配件,保时捷,宝马,奔驰,法拉利,豪车改装,高端改装">
    <meta name="description" content="">   <meta  />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache" />
<META HTTP-EQUIV="Expires" CONTENT="0" />
       <link href="/New/content/css/mui.min.css" rel="stylesheet" />
     <link href="/New/content/css/main.css" rel="stylesheet" />
		<style type="text/css">
			#list {
				/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
				margin-top: -1px;               
			}
			body{padding-bottom:58px;}
			.head-title,.mui-pull-left{background:none;}
			.mui-pull-left{width: auto;margin: 0;}
			.pro-info{padding:0;}
			.pro-baseInfo{padding:10px;border-top:solid 8px #eee;border-bottom: solid 1px #eee;}
			.pro-attr, .pro-qty, .pro-tocar, .pro-buyArea{padding:5px 10px;}
			.pro-buyArea{position:fixed;left:0;bottom:0;z-index: 999;width:100%;background:#eee;border-top:solid 1px #d3d3d3;}
			.pro-buyArea div button{padding:8px 0;}
			.mui-segmented-control.mui-segmented-control-inverted{background:#fff;border-top:solid 8px #eee;border-bottom:solid 8px #fff;}
			.pro-tocar-item{border-top:solid 1px #d3d3d3;border-left:solid 1px #d3d3d3;display:inline-block;padding:0;}
			.pro-tocar-item li{padding:10px 5px;border:solid 1px #d3d3d3;border-left:none;border-top:none;}
			#partExtAttr,.pro-qty{font-size:.8rem;}
			.head-title{margin: 0;}
			.mui-icon-back:before, .mui-icon-left-nav:before{color:#666;}
			.head-ico{margin-right:10px;}
			@@media screen and (max-width: 374px) {
			.pro-tocar-item li{width:100%;}
			}

		</style>
    
    <style>
        .mui-active {
            color: #007aff !important;
        }

        .mui-control-item {
            background: transparent;
        }

        .tabdiv{margin:10px; font-size:.8rem}
.tabdiv table{ background:#fff; border-collapse:collapse;width:100%}
.tabdiv table tr td:first-child{width:80px; text-align:right;color:#999;}
.tabdiv table tr td{padding:5px;}
    </style>


    <!--**************************************** 倒计时样式 START*****************************************-->			
<style>


.time-item strong {
    background:#C71C60;
    color:#fff;
    line-height:49px;
    font-size:16px;
    font-family:Arial;
    padding:0 10px;
    margin-right:10px;
    border-radius:5px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}
#day_show {
    float:left;
    line-height:49px;
    color:#c71c60;
    font-size:16px;
    margin:0 10px;
    font-family:Arial,Helvetica,sans-serif;
}
.item-title .unit {
    background:none;
    line-height:49px;
    font-size:16px;
    padding:0 10px;
    float:left;
}
</style>
<!--**************************************** 倒计时样式 END *****************************************-->	
  <script>
      var _hmt = _hmt || [];
      (function () {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?d252ab9e4e87638601460ea0c7412a01";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();

</script>
</head>
<body>
     <div id="modal-bg"></div>
    <div id="modal-show">
       <img  src="/New/content/img/ico/loading.gif"/>
    </div>
  
    <div class="main-container">
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
    <a class="mui-pull-right" href="/Member/Myhome">
        <img class="head-ico" src="/New/content/img/ico/icon_phome.png">
    </a>
    <a class="mui-pull-right" href="/Product/getCar">
        <img class="head-ico" src="/New/content/img/ico/icon_shopcar.png">
    </a>
    <div class="head-title">产品详情</div>
</header>
<div class="mui-content">
    <!--图片展示开始-->
    <div id="slider" class="mui-slider mui-slider-300">
        <div class="mui-slider-group mui-slider-loop">
            @if (Model.imgStock.Count > 0)
            { 
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="http://91cpcar.com/@Model.imgStock[0].ImgPath">
                    </a>
                </div>
                foreach (var item in Model.imgStock)
                {
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="http://91cpcar.com/@item.ImgPath">
                    </a>
                </div>
                }
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="http://91cpcar.com/@Model.imgStock[0].ImgPath">
                    </a>
                </div>    
            }
        </div>
        <div class="mui-slider-indicator">

             @if (Model.imgStock.Count > 0)
             {
                 foreach (var item in Model.imgStock)
                 {
                     if (item == Model.imgStock[0])
                     { 
                     <div class="mui-indicator mui-active"></div>
                     }
                     else
                     {
                     <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
                     }


                 }
             }
        </div>
    </div>
    <!--图片展示结束-->

    <div class="pro-info">
        <!--产品名称和价格-->
        <div class="pro-baseInfo">
                 <input type="hidden" id="proId" value="@(Model.proDetail.ID)"/>
             <input type="hidden" id="currPrice" value="@(Model.proDetail.Price)"/>
            <div class="pro-baseInfo-name mui-pull-left">@Model.proDetail.PartName</div>
            <div class="pro-baseInfo-price mui-pull-right" id="pricediv"></div>
            <div class="mui-clearfix"></div>
        </div>
        <div class="pro-attr">
            <table id="partExtAttr" style="width: 100%">
                @foreach (var item in Model.partExt)
                {
                    List<string> haveAttr = new List<string>();
                    <tr>
                        <td style='width: 50px;'><span class='AttrName'  currType='AttrName'  ParentAttr='@item.ParentAttr'>@item.AttrName</span></td>
                        <td class="TDattValue">
                            @foreach (var obj in item.AttrList)
                            {
                                <span class='AtttValue' currPrice="@obj.AttrPrice" ParentAttr='@obj.ParentAttr' currType='AttrValue'  CurrID='@obj.ID'>@obj.AttrValue</span>                       
                                       
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="pro-qty">
           

            		<!--**********************************倒计时元素START***********************************-->
             @if (Model.proDetail.ID == 487298)
            {
		<div class="time-item">
			<span id="day_show">0天</span>
			<strong id="hour_show">0时</strong>
			<strong id="minute_show">0分</strong>
			<strong id="second_show">0秒</strong>
		</div>
                
            }
		<!--**********************************倒计时元素END***********************************-->

            <div style="float: left; width: 50px; padding: 5px 0px;">数量</div>
            <div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='99'>
                           
                @if ((double)Model.proDetail.Price == 0.01)
                {
                    
                     <input id="txtNum" class="mui-input-numbox" disabled="true" type="number" value="1" />
                    
             
                }
                else
                {
                    @*<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                    <input id="txtNum" class="mui-input-numbox" type="number" value="1" />
                    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>*@
                     <input id="txtNum" class="mui-input-numbox" disabled="true" type="number" value="1" />
                    
                 
                }
            </div>
            	<!--库存数量代码 START-->
			<div class="pro-baseInfo-price mui-pull-right" id="storageCount"></div>
			<!--库存数量代码 END-->


        </div>
        <div class="pro-buyArea">
             @if (Model.proDetail.State == 1)
             {
                 if (Model.partStockList.StockNUM > 0)
                 {
                      <div class="btn-addcar">
                <button type="button" class="mui-btn mui-btn-warning" id="AddCar">
                    加入购物车
                </button>
            </div>
            <div class="btn-lbuy">
                <button type="button" class="mui-btn mui-btn-danger" id="goBuy">
                    立即购买
                </button>
            </div>
                     
                 }
                 else
                 {
                  <h3 style="padding-bottom: 30px;">该产品已售馨,无法购买！</h3>
                 }

             }
             else
             {
               <h3 style="padding-bottom: 30px;">该产品已下架,无法购买！</h3>
             }
        </div>
        <div class="mui-clearfix"></div>

        <div class="pro-detail-info">

            <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
                <a class="mui-control-item mui-active" href="#item1">产品详情</a>
                <a class="mui-control-item" href="#item2">适用车型</a>
                <a class="mui-control-item" href="#item3">评论</a>
            </div>
            <div id="item1" class="mui-control-content mui-active" style="width:100%; overflow:auto;">
                <p>
	<img alt="" src="http://91cpcar.com/upload/images/2016-05-14/%E5%8F%82%E6%95%B0.jpg" style="width: 400px; height: 40px;" /></p>

                <div class="tabdiv">
<table>
<tr>
<td>商品名称：</td>
<td>@Model.proDetail.PartName</td>
</tr>
<tr>
<td>货源地：</td>
<td>@Model.proDetail.supply</td>
</tr>
<tr>
<td>店铺：</td>
<td>@Model.proDetail.storeName</td>
</tr>
<tr>
<td>材质：</td>
<td>@Model.proDetail.material</td>
</tr>
<tr>
<td>规格：</td>
<td>@Model.proDetail.specifications</td>
</tr>
    <tr>
<td>使用部位：</td>
<td>@Model.proDetail.useSite</td>
</tr>
    <tr>
<td>颜色：</td>
<td>@Model.proDetail.ParsColour</td>
</tr>
</table>
</div>


                    @Html.Raw(string.IsNullOrEmpty(Model.proDetail.mDescribe) ? "" : Model.proDetail.mDescribe.Replace("/upload/images", "http://91cpcar.com/upload/images"))
            </div>
            <div id="item2" class="mui-control-content">
                <div class="pro-tocar">
                    <ul class="pro-tocar-item">
                       @if (Model.carList != null)
                       {
                           foreach (var item in Model.carList)
                           {
                            <li style="">@item.ProYear @item.Brand @item.Model</li>
                           }
                       }         
                    </ul>
                    <div class="mui-clearfix"></div>
                </div>
            </div>

            <div id="item3" class="mui-control-content">
                 <ul class="mui-table-view">
                      @if (Model.commList != null)
                       {
                           foreach (var item in Model.commList)
                           {
                            <li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
                        @if (item.wxHeadimgurl == null || item.wxHeadimgurl=="")
                        {
                        <img class="mui-media-object mui-pull-left" src="/Content/img/ico/myhome_ico.jpg">
                        }
                        else
                        {
                        <img class="mui-media-object mui-pull-left" src="@item.wxHeadimgurl">
                        }
                        
						
						<div class="mui-media-body">
							@item.LoginName
							<p class='mui-ellipsis'>@item.mentsname</p>
						</div>
					</a>
				</li>
                           }
                       }  


				</ul>
            </div>


        </div>
    </div>
</div>
</div>
   <footer class="pfoot">		
    <div class="ui-footer-version">        
    <p>Copyring @@ 2015 诚配91CPCAR.com  版权所有 <br> 湘ICP备15020410号  </p>
    </div>
</footer>
</body>
</html>
  <script src="/New/content/js/mui.min.js"></script>
 <script src="/New/Content/js/zepto.min.js"></script>
<script src="/New/Content/js/zepto.cookie.js"></script>
<script src="/New/Content/js/Base.js"></script>
    <script src="/Content/js/service-cart.js"></script>
    <script type="text/javascript" charset="UTF-8">
        mui.init({
            swipeBack: false //启用右滑关闭功能
        });
        var slider = mui("#slider");
        slider.slider({ interval: 0 });

        $(function () {
            //选中样式
            $(".TDattValue").first().children("span").click(function () {
                // $(this).parent().children("span").removeClass("currAttr");
                $(".AtttValue").removeClass("currAttr");
            })

            //父子属性反向选择
            $(".AtttValue").click(function () {
                $(this).parent().children("span").removeClass("currAttr");
                $(this).addClass("currAttr");
                $(this).parent().parent().next().find(".AtttValue").show();
                var parent = $(this).attr("parentattr");
                var currid = $(this).attr("currid");
                $(this).parent().parent().next().find(".AtttValue:not([parentattr='" + currid + "'])").hide();
                $("#currPrice").html($(this).attr("currPrice"));

            })
            $(".TDattValue span").first().trigger('click');

            //Validata
            $("#AddCar").click(function () {
                tocar("add");
            });
            $("#goBuy").click(function () {
                tocar("goBuy");
            });
        })
        function tocar(type) {
            if (Validata.isInteger($("#txtNum").val())) {
                var flag = true;
                var attrs = "";
                $(".TDattValue").each(function () {
                    if ($(this).children(".currAttr").length <= 0) {
                        mui.alert('请选择完整的产品', '提示', function () {
                            flag = false;
                            return false;
                        });
                    }
                })
                if (flag) {
                    var shop =
                        {
                            ID: $("#proId").val(),
                            Qty: $("#txtNum").val(),
                            Price: $("#currPrice").val(),
                            Attrs: $(".TDattValue").last().children(".currAttr").first().attr("currid")
                        }
                    shopCar.AddToCart(shop);
                    shopCar.GetAllCount();
                    if (type == "add") {
                        mui.alert('已经添加到购物车', '提示');
                    } else {
                        window.location.href = "/Product/GetCar";
                    }
                }

            } else {
                mui.alert('数量应为大于0的数字', '提示');
                // mui-ico <span class="mui-badge">5</span>
            }

        }

    </script>
  
<script>
    if (Validata.IsPC()) {
        //  window.location.href = "http://www.91cpcar.com";
    }
</script>


<!--**************************倒计时模块JS START*****************************************-->
  	<script>

  	    var date1 = new Date();  //开始时间
  	    var datestr = "2016-07-01 13:30:00"; //结束时间 字符串   其他代码不用动，把你获取的时间赋值给这个变量就行了
  	    datestr = datestr.replace(/-/g, "/");

  	    var date2 = new Date(datestr); //结束时间

  	    var intDiff = (date2.getTime() - date1.getTime()) / 1000  //时间差的秒数

  	    //var intDiff = parseInt(60);//倒计时总秒数量
  	    function timer(intDiff) {
  	        window.setInterval(function () {
  	            var day = 0,
                    hour = 0,
                    minute = 0,
                    second = 0;//时间默认值        
  	            if (intDiff > 0) {
  	                day = Math.floor(intDiff / (60 * 60 * 24));
  	                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
  	                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
  	                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
  	            }
  	            if (minute <= 9) minute = '0' + minute;
  	            if (second <= 9) second = '0' + second;
  	            $('#day_show').html(day + "天");
  	            $('#hour_show').html('<s id="h"></s>' + hour + '时');
  	            $('#minute_show').html('<s></s>' + minute + '分');
  	            $('#second_show').html('<s></s>' + second + '秒');
  	            intDiff--;
  	        }, 1000);
  	    }


  	    function GetRequest() {

  	        var url = location.search; //获取url中"?"符后的字串
  	        var theRequest = new Object();
  	        if (url.indexOf("?") != -1) {
  	            var str = url.substr(1);
  	            strs = str.split("&");
  	            for (var i = 0; i < strs.length; i++) {
  	                theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
  	            }
  	        }
  	        return theRequest;
  	    }

  	    function count(o) {
  	        var t = typeof o;
  	        if (t == 'string') {
  	            return o.length;
  	        } else if (t == 'object') {
  	            var n = 0;
  	            for (var i in o) {
  	                n++;
  	            }
  	            return n;
  	        }
  	        return false;
  	    };

  	    $(function () {
  	        var Request = new Object();
  	        Request = GetRequest();
  	        if (count(Request) == 1)
  	        {
  	            window.location.href = "/Product/ProductDetail?id=" + Request["id"] + "&&" + Math.random();
  	        }
  	        Base.ajaxPost("/Product/selShopNum", { productId: Request["id"] }, function (data) {
  	            var nums = data.num;
  	            $("#storageCount").html("库存" + "@Model.partStockList.StockNUM" + "个         " + "总销量" + nums + "个");
  	        })
  	        $("#pricediv").html("￥" + "@Model.proDetail.Price");
  	      
  	       // $("#pricediv").val("￥" + "@Model.proDetail.Price");
  	        //$("#storageCount").val("@Model.partStockList.StockNUM" + "个");
  	        var productId="@Model.proDetail.ID";
  	       
  	        timer(intDiff);
  	    });

  	    

  	    
	</script>
  <!--**************************倒计时模块JS END*****************************************-->

