@model  CParts_Online.Models.UserHomeVM
@{
    ViewBag.Title = "个人信息|诚配网";
    Layout = "~/Views/Shared/_UserHome.cshtml";
}
<div > 
    <h3>个人信息</h3>
       <h4 class="pull-left bold-weight-600">您好</h4>
    <div style="clear:both"></div>
       <h4 class="pull-left">当前等级：<span class="uh_info">@Model.UserLevel[0].Name</span></h4>
    <h4 class="pull-left">账户积分：<span class="uh_info">@Model.UserLevel[0].UExp</span></h4>
    @*<h4 class="pull-left">享受折扣：<span class="uh_info">@((Model.UserLevel[0].Ratio*100).ToString(".0")) %</span></h4>*@
    @*<h4 class="pull-left">享受返利：<span class="uh_info">@((Model.UserLevel[0].Income*100).ToString(".0")) % </span></h4>*@
    <div style="clear:both"></div>
    <h4 class="pull-left">下一等级：<span class="uh_info">@Model.UserLevel[1].Name</span></h4>
    <h4 class="pull-left">需要积分：<span class="uh_info">@Model.UserLevel[1].MinIntegral</span></h4>
    <h4 class="pull-left">享受折扣：<span class="uh_info">@((Model.UserLevel[1].Ratio*100).ToString(".0")) %</span></h4>
    <h4 class="pull-left">享受返利：<span class="uh_info">@((Model.UserLevel[1].Income*100).ToString(".0")) %</span></h4>    
    <div style="clear:both"></div>
    <h4 class="pull-left bold-weight-600">基本信息</h4>
    <div style="clear:both"></div>
    <table>
        <tr>
            <td><h4>用户名:</h4></td>
            <td><h4><span class="uh_binfo">@Model.Userinfo.LoginName</span></h4></td>
        </tr>
         <tr>
            <td><h4>联系邮箱:</h4></td>
            <td><h4><span class="uh_binfo">@Model.Userinfo.Email</span></h4></td>
        </tr>
         <tr>
            <td><h4>手机号码:</h4></td>
            <td><h4><span class="uh_binfo">@Model.Userinfo.Mobile</span></h4></td>
        </tr>
        @* <tr>
            <td><h4>推荐人:</h4></td>
            <td><h4><span class="uh_binfo">@Model.Userinfo.LoginName</span></h4></td>
        </tr>*@

    </table>  
    <div style="clear:both"></div>
     <h4 class="pull-left bold-weight-600">分享链接</h4>
     <div style="clear:both"></div>
    <p>
     <input type="text" id="shareLink" style="width:600px; padding:10px"/>&nbsp;&nbsp;<button style="height:40px;padding:10px" id="btn-copy">复制</button>
       <br />
        <span style="color:red;">把链接分享给朋友注册账号，获得大量积分</span>
        </p>
      <div style="clear:both"></div>

</div>

    <script>
      //  var slinkt = "http://" + window.location.host + "/Member/RegView?uid=" + getnow() + "&&puser=" +@Model.Userinfo.Mobile +"&&utime=" + randomChar(16);
        var slinkt = "http://" + window.location.host + "/Member/RegView?uid=" + getnow() + "&&puser=" +@Model.Userinfo.Mobile +"&&utime=" + randomChar(16);
        
        $(function () {
             $("#shareLink").val(slinkt);
            $("#btn-copy").click(function () {
                copy_code(slinkt);
            });
        })

        //生成一个时间戳字符串
        function randomChar(l) {
            var x = "0123456789qwertyuioplkjhgfdsazxcvbnm";
            var tmp = "";
            var timestamp = new Date().getTime();
            for (var i = 0; i < l; i++) {
                tmp += x.charAt(Math.ceil(Math.random() * 100000000) % x.length);
            }
            return timestamp + tmp;
        }

        function copy_code(copyText) {
            if (window.clipboardData) {
                window.clipboardData.setData("Text", slinkt)
                alert('复制成功，去分享吧！');
            }
            else {
                alert('浏览器不支持复制，请手动复制！');
            }
      
        }
    </script>
    